body{
    background: rgb(2, 2, 2);
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: space-between;
    justify-content: space-evenly;
}

.card{
    background: rgb(197, 89, 112);
    box-sizing: border-box;
    text-align: center;
    width: 300px;
    margin: 20px 0;
    box-shadow: 0 10px 10px rgb(37, 35, 35);
    display: inline-block;
    
}

.card-brown{
    background: rgb(128, 97, 85);
}

.card-blue{
    background: rgb(101, 146, 167);
}

.card_title, h1{
    padding-top: 5px;
    text-align: center;
    font-size: 22px;
    color:beige;
    text-shadow: 0 0 3px rgb(255, 249, 193);
    letter-spacing: 1px;
}

.card_subtitle {
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 2px;
    color:beige;
    margin-bottom: 20px;

}

.card_content {
    font-size: 11px;
    padding: 20px 20px;
    color: rgb(129, 27, 52);
    background: rgb(214, 123, 143);
    text-align: justify;
    font-weight: 700;
    box-shadow: 0 0 10px rgb(78, 59, 62);
}

.card_img{
    width:200px;
    padding-top: 15px;
}

.service{
    width: 500px;
    margin: 50px 40px;
    background: rgb(201, 217, 221);
    box-sizing: border-box;
}

.service_title{
    font-size: 20px;
    color: rgb(55, 119, 119);
    padding: 20px;
    text-align: center;
}

/*form{
    margin: 0 auto;
    background: rgb(201, 217, 221);
    margin: 50px 40px;
    padding: 20px;
    box-sizing: border-box;
    width: 500px;
    box-shadow: 0 0 10px rgb(155, 155, 155);
    border-radius: 5px;
}

input, textarea{
    padding: 5px;
    min-width: 90%;
    margin: 10px 24px;
    box-sizing: border-box;
    
}

textarea{
    min-width: 90%;
    resize: vertical;
    min-height: 100px;
    font-family: sans-serif;
}

label{
    font-size: 10px;
    line-height: 2;
}

*/